.item-detail {
  display: flex;
  align-items: flex-start;
  height: 100%;
  background-color: #303030;
  border: 1px solid #444;
  padding: 20px;
  border-radius: 5px;
}
.item-detail img {
  width: 200px;
  border-radius: 10px;
}
.item-detail-body {
  flex-grow: 1;
  padding-left: 20px;
}
.item-detail-body dl {
  display: flex;
  align-items: center;
  margin: 0;
}
.item-detail-body dt {
  margin-right: 10px;
}
.item-detail-body dt::after {
  content: ":";
}
.item-detail-body dd {
  margin: 0;
}

